<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Project1Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<servlet-class>servletproject.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyServlet</servlet-name>
  	<url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>servletproject.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MServlet</servlet-name>
  	<servlet-class>servletproject.ServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MServlet</servlet-name>
  	<url-pattern>/mServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SerVlet</servlet-name>
    <servlet-class>servletproject.ServletSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerVlet</servlet-name>
    <url-pattern>/SeconFervlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletL</servlet-name>
    <servlet-class>servletproject.ServletMul</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletL</servlet-name>
    <url-pattern>/SeconLervlet</url-pattern>
  </servlet-mapping>
</web-app>